/* Override font sizes */
html body article {
  font-size: 12pt;
}

/* Override article width via tailwind */
.max-w-3xl {
  max-width: 61rem;
}

/* Code block */
:root {
  --code-bg-color: #c1c1c1;
}
:is(.dark article) {
    --code-bg-color: #7b7c7c;
}
article code {
  background: var(--code-bg-color);
  padding: 0 5px;
}
article code::before {
  content: "" !important;
}
article code::after {
  content: "" !important;
}

/* Animation */
@keyframes scale {
  to {
    transform: scale(1.2);
  }
}

.hover\:animate-scale:hover {
  animation: scale 1000ms ease-in-out forwards;
}

/* img modifications */
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

/* filename shortcode */
.filename {
  background: #4c4c4c;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  bottom: -35px;
  margin-left: -2rem;
  margin-right: -2rem;
}

.filename div {
  font-size: 14px;
  color: #c0c5ce;
  background: #272822;
  display: inline-block;
  border-top-right-radius: 0px;
  border-top-left-radius: 4px;
  padding: 0 60px;
  padding-top: 16px;
  padding-bottom: 6px;
}

/* Notes */
.authornote {
  border-bottom: 0.095rem dashed;
  border-top: 0.095rem dashed;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.authornote p {
  font-size: 0.80rem;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

